<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LastProject"
        tools:targetApi="31">
        <activity
            android:name=".Common.Connect"
            android:exported="false" />
        <activity
            android:name=".User.Update"
            android:exported="false" />
        <activity
            android:name=".User.Detail"
            android:exported="false" />
        <activity
            android:name=".User.Upload"
            android:exported="false" />
        <activity
            android:name=".Common.Add"
            android:exported="false" />
        <activity
            android:name=".LocationOwner.Maps"
            android:exported="false" />
        <activity
            android:name=".User.PetShop"
            android:exported="false" />
        <activity
            android:name=".User.Vet"
            android:exported="false" />
        <activity
            android:name=".User.Pets"
            android:exported="false" />
        <activity
            android:name=".User.ActivityForgetPassword"
            android:exported="false" />
        <activity
            android:name=".User.Profile"
            android:exported="false" />
        <activity
            android:name=".User.Login"
            android:exported="false" />
        <activity
            android:name=".User.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".User.RetailerStartUpScreen"
            android:exported="false">
            />
        </activity>
        <activity
            android:name=".User.AllCategories"
            android:exported="false">
            />
        </activity>
        <activity
            android:name=".User.UserDashboard"
            android:exported="false" />
        <activity
            android:name=".Common.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDqoFWxdPyxG97CjXtYc8wAUH3lm_UHOAA" />
    </application>

</manifest>